Source: opx-sai-api
Section: net
Priority: optional
Maintainer: Dell EMC <ops-dev@lists.openswitch.net>
Build-Depends: debhelper (>= 9), dh-autoreconf, autotools-dev
Standards-Version: 3.9.3
Vcs-Browser: https://github.com/open-switch/opx-sai-api
Vcs-Git: https://github.com/open-switch/opx-sai-api.git

Package: opx-sai-api-dev
Architecture: any
Depends: 
Description: This package contains SAI API Module
